// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../core/resource';
import { APIPromise } from '../core/api-promise';
import { ErrorsPage, type ErrorsPageParams, PagePromise } from '../core/pagination';
import { RequestOptions } from '../internal/request-options';
import { path } from '../internal/utils/path';

/**
 * Retrieve terminal error events from workflow calls.
 *
 * Errors are events produced by function steps that failed during processing. A single workflow
 * call may produce multiple error events if several steps fail independently.
 *
 * Errors and outputs from the same call are not mutually exclusive: a partially-completed
 * workflow may have both.
 *
 * Use `GET /v3/errors` to list errors across calls, or `GET /v3/errors/{eventID}` to retrieve
 * a specific error. To get errors scoped to a single call, filter by `callIDs`.
 */
export class Errors extends APIResource {
  /**
   * **Retrieve a single error event by ID.**
   *
   * Returns `404` if the event does not exist or if it is not an error event (use
   * `GET /v3/outputs/{eventID}` for non-error events).
   */
  retrieve(eventID: string, options?: RequestOptions): APIPromise<ErrorRetrieveResponse> {
    return this._client.get(path`/v3/errors/${eventID}`, options);
  }

  /**
   * **List terminal error events.**
   *
   * Returns error events produced by failed function calls within workflow
   * executions. Non-error output events are excluded; use `GET /v3/outputs` to
   * retrieve those.
   *
   * ## Filtering
   *
   * Filter by call, workflow, function, or reference ID. Multiple filters are ANDed
   * together.
   */
  list(
    query: ErrorListParams | null | undefined = {},
    options?: RequestOptions,
  ): PagePromise<ErrorEventsErrorsPage, ErrorEvent> {
    return this._client.getAPIList('/v3/errors', ErrorsPage<ErrorEvent>, { query, ...options });
  }
}

export type ErrorEventsErrorsPage = ErrorsPage<ErrorEvent>;

export interface ErrorEvent {
  /**
   * Unique ID generated by bem to identify the event.
   */
  eventID: string;

  /**
   * Unique identifier of function that this event is associated with.
   */
  functionID: string;

  /**
   * Unique name of function that this event is associated with.
   */
  functionName: string;

  /**
   * Error message.
   */
  message: string;

  /**
   * The unique ID you use internally to refer to this data point, propagated from
   * the original function input.
   */
  referenceID: string;

  /**
   * Unique identifier of workflow call that this event is associated with.
   */
  callID?: string;

  /**
   * Timestamp indicating when the event was created.
   */
  createdAt?: string;

  eventType?: 'error';

  /**
   * Unique identifier of function call that this event is associated with.
   */
  functionCallID?: string;

  /**
   * The attempt number of the function call that created this event. 1 indexed.
   */
  functionCallTryNumber?: number;

  /**
   * Version number of function that this event is associated with.
   */
  functionVersionNum?: number;

  /**
   * The inbound email that triggered this event.
   */
  inboundEmail?: InboundEmailEvent;

  metadata?: ErrorEvent.Metadata;

  /**
   * Unique identifier of workflow that this event is associated with.
   */
  workflowID?: string;

  /**
   * Name of workflow that this event is associated with.
   */
  workflowName?: string;

  /**
   * Version number of workflow that this event is associated with.
   */
  workflowVersionNum?: number;
}

export namespace ErrorEvent {
  export interface Metadata {
    durationFunctionToEventSeconds?: number;
  }
}

export interface InboundEmailEvent {
  /**
   * The email address of the sender.
   */
  from: string;

  /**
   * The subject of the email.
   */
  subject: string;

  /**
   * The email address of the recipient.
   */
  to: string;

  /**
   * The email address of the original intended recipient if the email itself was
   * forwarded.
   */
  deliveredTo?: string;
}

export interface ErrorRetrieveResponse {
  /**
   * The error event.
   */
  error: ErrorEvent;
}

export interface ErrorListParams extends ErrorsPageParams {
  /**
   * Filter to errors from specific calls.
   */
  callIDs?: Array<string>;

  functionIDs?: Array<string>;

  functionNames?: Array<string>;

  referenceIDs?: Array<string>;

  /**
   * Case-insensitive substring match against `referenceID`.
   */
  referenceIDSubstring?: string;

  sortOrder?: 'asc' | 'desc';

  workflowIDs?: Array<string>;

  workflowNames?: Array<string>;
}

export declare namespace Errors {
  export {
    type ErrorEvent as ErrorEvent,
    type InboundEmailEvent as InboundEmailEvent,
    type ErrorRetrieveResponse as ErrorRetrieveResponse,
    type ErrorEventsErrorsPage as ErrorEventsErrorsPage,
    type ErrorListParams as ErrorListParams,
  };
}
