// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../core/resource';
import * as ErrorsAPI from './errors';
import * as OutputsAPI from './outputs';
import * as FunctionsAPI from './functions/functions';

export class Webhooks extends APIResource {
  unwrap(body: string): UnwrapWebhookEvent {
    return JSON.parse(body) as UnwrapWebhookEvent;
  }
}

/**
 * V3 event variants that do not exist in the shared `Event` union.
 *
 * `ExtractEvent` and `ClassifyEvent` are emitted only by V3-era function types
 * (`extract` and `classify`). The shared `Event` union in
 * `specs/events/models.tsp` predates these types and continues to describe V2 /
 * V1-alpha responses verbatim; V3 response payloads add the new variants via the
 * `EventV3` union below while keeping every shared variant intact for backward
 * compatibility.
 */
export interface ExtractWebhookEvent {
  /**
   * Unique ID generated by bem to identify the event.
   */
  eventID: string;

  /**
   * Unique identifier of function that this event is associated with.
   */
  functionID: string;

  /**
   * Unique name of function that this event is associated with.
   */
  functionName: string;

  /**
   * The number of items that were transformed. Used for batch transformations to
   * indicate how many items were transformed.
   */
  itemCount: number;

  /**
   * The offset of the first item that was transformed. Used for batch
   * transformations to indicate which item in the batch this event corresponds to.
   */
  itemOffset: number;

  /**
   * The unique ID you use internally to refer to this data point, propagated from
   * the original function input.
   */
  referenceID: string;

  /**
   * The transformed content of the input. The structure of this object is defined by
   * the function configuration.
   */
  transformedContent: unknown;

  /**
   * Average confidence score across all extracted fields, in the range [0, 1].
   */
  avgConfidence?: number | null;

  /**
   * Unique identifier of workflow call that this event is associated with.
   */
  callID?: string;

  /**
   * Corrected feedback provided for fine-tuning purposes.
   */
  correctedContent?: ExtractWebhookEvent.Output | unknown | Array<unknown> | string | number | boolean | null;

  /**
   * Timestamp indicating when the event was created.
   */
  createdAt?: string;

  eventType?: 'extract';

  /**
   * Per-field bounding boxes. A JSON object mapping RFC 6901 JSON Pointer paths
   * (e.g. `"/invoiceNumber"`, `"/items/0/price"`) to the document regions from which
   * each extracted value was sourced.
   */
  fieldBoundingBoxes?: unknown;

  /**
   * Per-field confidence scores. A JSON object mapping RFC 6901 JSON Pointer paths
   * (e.g. `"/invoiceNumber"`) to float values in the range [0, 1] indicating the
   * model's confidence in each extracted field value.
   */
  fieldConfidences?: unknown;

  /**
   * Unique identifier of function call that this event is associated with.
   */
  functionCallID?: string;

  /**
   * The attempt number of the function call that created this event. 1 indexed.
   */
  functionCallTryNumber?: number;

  /**
   * Version number of function that this event is associated with.
   */
  functionVersionNum?: number;

  /**
   * The inbound email that triggered this event.
   */
  inboundEmail?: ErrorsAPI.InboundEmailEvent;

  /**
   * Array of transformation inputs with their types and S3 URLs.
   */
  inputs?: Array<ExtractWebhookEvent.Input> | null;

  /**
   * The input type of the content you're sending for transformation.
   */
  inputType?: OutputsAPI.InputType;

  /**
   * List of properties that were invalid in the input.
   */
  invalidProperties?: Array<string>;

  metadata?: ExtractWebhookEvent.Metadata;

  /**
   * Presigned S3 URL for the input content uploaded to S3.
   */
  s3URL?: string | null;

  /**
   * Unique ID for each transformation output generated by bem following Segment's
   * KSUID conventions.
   */
  transformationID?: string;

  /**
   * Unique identifier of workflow that this event is associated with.
   */
  workflowID?: string;

  /**
   * Name of workflow that this event is associated with.
   */
  workflowName?: string;

  /**
   * Version number of workflow that this event is associated with.
   */
  workflowVersionNum?: number;
}

export namespace ExtractWebhookEvent {
  export interface Output {
    output?: Array<OutputsAPI.AnyType | null>;
  }

  export interface Input {
    inputContent?: string | null;

    inputType?: string | null;

    jsonInputContent?: unknown | null;

    s3URL?: string | null;
  }

  export interface Metadata {
    durationFunctionToEventSeconds?: number;
  }
}

export interface ClassifyWebhookEvent {
  /**
   * The classification chosen by the classify function.
   */
  choice: string;

  /**
   * Unique ID generated by bem to identify the event.
   */
  eventID: string;

  /**
   * Unique identifier of function that this event is associated with.
   */
  functionID: string;

  /**
   * Unique name of function that this event is associated with.
   */
  functionName: string;

  /**
   * The unique ID you use internally to refer to this data point, propagated from
   * the original function input.
   */
  referenceID: string;

  /**
   * Unique identifier of workflow call that this event is associated with.
   */
  callID?: string;

  /**
   * Timestamp indicating when the event was created.
   */
  createdAt?: string;

  eventType?: 'classify';

  /**
   * Unique identifier of function call that this event is associated with.
   */
  functionCallID?: string;

  /**
   * The attempt number of the function call that created this event. 1 indexed.
   */
  functionCallTryNumber?: number;

  /**
   * Version number of function that this event is associated with.
   */
  functionVersionNum?: number;

  /**
   * The inbound email that triggered this event.
   */
  inboundEmail?: ErrorsAPI.InboundEmailEvent;

  metadata?: ClassifyWebhookEvent.Metadata;

  /**
   * The presigned S3 URL of the file that was classified.
   */
  s3URL?: string;

  /**
   * Unique identifier of workflow that this event is associated with.
   */
  workflowID?: string;

  /**
   * Name of workflow that this event is associated with.
   */
  workflowName?: string;

  /**
   * Version number of workflow that this event is associated with.
   */
  workflowVersionNum?: number;
}

export namespace ClassifyWebhookEvent {
  export interface Metadata {
    durationFunctionToEventSeconds?: number;
  }
}

/**
 * Emitted when a `parse` function completes. Reuses the `extract` event shape on
 * the wire — both wrap a Transformation and downstream consumers care about the
 * same `transformedContent` payload — but uses a distinct `eventType`
 * discriminator so receivers can dispatch on the function type that produced it.
 */
export interface ParseWebhookEvent {
  /**
   * Unique ID generated by bem to identify the event.
   */
  eventID: string;

  /**
   * Unique identifier of function that this event is associated with.
   */
  functionID: string;

  /**
   * Unique name of function that this event is associated with.
   */
  functionName: string;

  /**
   * The number of items that were parsed. Used for batch parsing to indicate how
   * many items were parsed.
   */
  itemCount: number;

  /**
   * The offset of the first item that was parsed. Used for batch parsing to indicate
   * which item in the batch this event corresponds to.
   */
  itemOffset: number;

  /**
   * The unique ID you use internally to refer to this data point, propagated from
   * the original function input.
   */
  referenceID: string;

  /**
   * The parsed content of the input. Top-level keys are `sections`, `entities`, and
   * `relationships`; the precise shape is determined by the parse function's
   * configuration.
   */
  transformedContent: unknown;

  /**
   * Average confidence score across all parsed fields, in the range [0, 1].
   */
  avgConfidence?: number | null;

  /**
   * Unique identifier of workflow call that this event is associated with.
   */
  callID?: string;

  /**
   * Corrected feedback provided for fine-tuning purposes.
   */
  correctedContent?: ParseWebhookEvent.Output | unknown | Array<unknown> | string | number | boolean | null;

  /**
   * Timestamp indicating when the event was created.
   */
  createdAt?: string;

  eventType?: 'parse';

  /**
   * Per-field bounding boxes. A JSON object mapping RFC 6901 JSON Pointer paths to
   * the document regions from which each parsed value was sourced.
   */
  fieldBoundingBoxes?: unknown;

  /**
   * Per-field confidence scores. A JSON object mapping RFC 6901 JSON Pointer paths
   * to float values in the range [0, 1] indicating the model's confidence in each
   * parsed field value.
   */
  fieldConfidences?: unknown;

  /**
   * Unique identifier of function call that this event is associated with.
   */
  functionCallID?: string;

  /**
   * The attempt number of the function call that created this event. 1 indexed.
   */
  functionCallTryNumber?: number;

  /**
   * Version number of function that this event is associated with.
   */
  functionVersionNum?: number;

  /**
   * The inbound email that triggered this event.
   */
  inboundEmail?: ErrorsAPI.InboundEmailEvent;

  /**
   * Array of parse inputs with their types and S3 URLs.
   */
  inputs?: Array<ParseWebhookEvent.Input> | null;

  /**
   * The input type of the content you're sending for transformation.
   */
  inputType?: OutputsAPI.InputType;

  /**
   * List of properties that were invalid in the input.
   */
  invalidProperties?: Array<string>;

  metadata?: ParseWebhookEvent.Metadata;

  /**
   * Presigned S3 URL for the input content uploaded to S3.
   */
  s3URL?: string | null;

  /**
   * Unique ID for each transformation output generated by bem following Segment's
   * KSUID conventions.
   */
  transformationID?: string;

  /**
   * Unique identifier of workflow that this event is associated with.
   */
  workflowID?: string;

  /**
   * Name of workflow that this event is associated with.
   */
  workflowName?: string;

  /**
   * Version number of workflow that this event is associated with.
   */
  workflowVersionNum?: number;
}

export namespace ParseWebhookEvent {
  export interface Output {
    output?: Array<OutputsAPI.AnyType | null>;
  }

  export interface Input {
    inputContent?: string | null;

    inputType?: string | null;

    jsonInputContent?: unknown | null;

    s3URL?: string | null;
  }

  export interface Metadata {
    durationFunctionToEventSeconds?: number;
  }
}

export interface SplitCollectionWebhookEvent {
  /**
   * Unique ID generated by bem to identify the event.
   */
  eventID: string;

  /**
   * Unique identifier of function that this event is associated with.
   */
  functionID: string;

  /**
   * Unique name of function that this event is associated with.
   */
  functionName: string;

  outputType: 'print_page' | 'semantic_page';

  printPageOutput: SplitCollectionWebhookEvent.PrintPageOutput;

  /**
   * The unique ID you use internally to refer to this data point, propagated from
   * the original function input.
   */
  referenceID: string;

  semanticPageOutput: SplitCollectionWebhookEvent.SemanticPageOutput;

  /**
   * Unique identifier of workflow call that this event is associated with.
   */
  callID?: string;

  /**
   * Timestamp indicating when the event was created.
   */
  createdAt?: string;

  eventType?: 'split_collection';

  /**
   * Unique identifier of function call that this event is associated with.
   */
  functionCallID?: string;

  /**
   * The attempt number of the function call that created this event. 1 indexed.
   */
  functionCallTryNumber?: number;

  /**
   * Version number of function that this event is associated with.
   */
  functionVersionNum?: number;

  /**
   * The inbound email that triggered this event.
   */
  inboundEmail?: ErrorsAPI.InboundEmailEvent;

  metadata?: SplitCollectionWebhookEvent.Metadata;

  /**
   * Unique identifier of workflow that this event is associated with.
   */
  workflowID?: string;

  /**
   * Name of workflow that this event is associated with.
   */
  workflowName?: string;

  /**
   * Version number of workflow that this event is associated with.
   */
  workflowVersionNum?: number;
}

export namespace SplitCollectionWebhookEvent {
  export interface PrintPageOutput {
    itemCount?: number;

    items?: Array<PrintPageOutput.Item>;
  }

  export namespace PrintPageOutput {
    export interface Item {
      itemOffset?: number;

      itemReferenceID?: string;

      s3URL?: string;
    }
  }

  export interface SemanticPageOutput {
    itemCount?: number;

    items?: Array<SemanticPageOutput.Item>;

    pageCount?: number;
  }

  export namespace SemanticPageOutput {
    export interface Item {
      itemClass?: string;

      itemClassCount?: number;

      itemClassOffset?: number;

      itemOffset?: number;

      itemReferenceID?: string;

      pageEnd?: number;

      pageStart?: number;

      s3URL?: string;
    }
  }

  export interface Metadata {
    durationFunctionToEventSeconds?: number;
  }
}

export interface SplitItemWebhookEvent {
  /**
   * Unique ID generated by bem to identify the event.
   */
  eventID: string;

  /**
   * Unique identifier of function that this event is associated with.
   */
  functionID: string;

  /**
   * Unique name of function that this event is associated with.
   */
  functionName: string;

  outputType: 'print_page' | 'semantic_page';

  /**
   * The unique ID you use internally to refer to this data point, propagated from
   * the original function input.
   */
  referenceID: string;

  /**
   * Unique identifier of workflow call that this event is associated with.
   */
  callID?: string;

  /**
   * Timestamp indicating when the event was created.
   */
  createdAt?: string;

  eventType?: 'split_item';

  /**
   * Unique identifier of function call that this event is associated with.
   */
  functionCallID?: string;

  /**
   * The attempt number of the function call that created this event. 1 indexed.
   */
  functionCallTryNumber?: number;

  /**
   * Version number of function that this event is associated with.
   */
  functionVersionNum?: number;

  /**
   * The inbound email that triggered this event.
   */
  inboundEmail?: ErrorsAPI.InboundEmailEvent;

  metadata?: SplitItemWebhookEvent.Metadata;

  printPageOutput?: SplitItemWebhookEvent.PrintPageOutput;

  semanticPageOutput?: SplitItemWebhookEvent.SemanticPageOutput;

  /**
   * Unique identifier of workflow that this event is associated with.
   */
  workflowID?: string;

  /**
   * Name of workflow that this event is associated with.
   */
  workflowName?: string;

  /**
   * Version number of workflow that this event is associated with.
   */
  workflowVersionNum?: number;
}

export namespace SplitItemWebhookEvent {
  export interface Metadata {
    durationFunctionToEventSeconds?: number;
  }

  export interface PrintPageOutput {
    collectionReferenceID?: string;

    itemCount?: number;

    itemOffset?: number;

    s3URL?: string;
  }

  export interface SemanticPageOutput {
    collectionReferenceID?: string;

    itemClass?: string;

    itemClassCount?: number;

    itemClassOffset?: number;

    itemCount?: number;

    itemOffset?: number;

    pageCount?: number;

    pageEnd?: number;

    pageStart?: number;

    s3URL?: string;
  }
}

export interface JoinWebhookEvent {
  /**
   * Unique ID generated by bem to identify the event.
   */
  eventID: string;

  /**
   * Unique identifier of function that this event is associated with.
   */
  functionID: string;

  /**
   * Unique name of function that this event is associated with.
   */
  functionName: string;

  /**
   * List of properties that were invalid in the input.
   */
  invalidProperties: Array<string>;

  /**
   * The items that were joined.
   */
  items: Array<JoinWebhookEvent.Item>;

  /**
   * The type of join that was performed.
   */
  joinType: 'standard';

  /**
   * The unique ID you use internally to refer to this data point, propagated from
   * the original function input.
   */
  referenceID: string;

  /**
   * The transformed content of the input. The structure of this object is defined by
   * the function configuration.
   */
  transformedContent: unknown;

  /**
   * Average confidence score across all extracted fields, in the range [0, 1].
   */
  avgConfidence?: number | null;

  /**
   * Unique identifier of workflow call that this event is associated with.
   */
  callID?: string;

  /**
   * Timestamp indicating when the event was created.
   */
  createdAt?: string;

  eventType?: 'join';

  /**
   * Per-field confidence scores. A JSON object mapping RFC 6901 JSON Pointer paths
   * (e.g. `"/invoiceNumber"`) to float values in the range [0, 1] indicating the
   * model's confidence in each extracted field value.
   */
  fieldConfidences?: unknown;

  /**
   * Unique identifier of function call that this event is associated with.
   */
  functionCallID?: string;

  /**
   * The attempt number of the function call that created this event. 1 indexed.
   */
  functionCallTryNumber?: number;

  /**
   * Version number of function that this event is associated with.
   */
  functionVersionNum?: number;

  /**
   * The inbound email that triggered this event.
   */
  inboundEmail?: ErrorsAPI.InboundEmailEvent;

  metadata?: JoinWebhookEvent.Metadata;

  /**
   * Unique ID for each transformation output generated by bem following Segment's
   * KSUID conventions.
   */
  transformationID?: string;

  /**
   * Unique identifier of workflow that this event is associated with.
   */
  workflowID?: string;

  /**
   * Name of workflow that this event is associated with.
   */
  workflowName?: string;

  /**
   * Version number of workflow that this event is associated with.
   */
  workflowVersionNum?: number;
}

export namespace JoinWebhookEvent {
  export interface Item {
    /**
     * The number of items that were transformed.
     */
    itemCount: number;

    /**
     * The offset of the first item that was transformed. Used for batch
     * transformations to indicate which item in the batch this event corresponds to.
     */
    itemOffset: number;

    /**
     * The unique ID you use internally to refer to this data point.
     */
    itemReferenceID: string;

    /**
     * The presigned S3 URL of the file that was joined.
     */
    s3URL?: string;
  }

  export interface Metadata {
    durationFunctionToEventSeconds?: number;
  }
}

export interface EnrichWebhookEvent {
  /**
   * The enriched content produced by the enrich function. Contains the input data
   * augmented with results from semantic search against collections.
   */
  enrichedContent: unknown;

  /**
   * Unique ID generated by bem to identify the event.
   */
  eventID: string;

  /**
   * Unique identifier of function that this event is associated with.
   */
  functionID: string;

  /**
   * Unique name of function that this event is associated with.
   */
  functionName: string;

  /**
   * The unique ID you use internally to refer to this data point, propagated from
   * the original function input.
   */
  referenceID: string;

  /**
   * Unique identifier of workflow call that this event is associated with.
   */
  callID?: string;

  /**
   * Timestamp indicating when the event was created.
   */
  createdAt?: string;

  eventType?: 'enrich';

  /**
   * Unique identifier of function call that this event is associated with.
   */
  functionCallID?: string;

  /**
   * The attempt number of the function call that created this event. 1 indexed.
   */
  functionCallTryNumber?: number;

  /**
   * Version number of function that this event is associated with.
   */
  functionVersionNum?: number;

  /**
   * The inbound email that triggered this event.
   */
  inboundEmail?: ErrorsAPI.InboundEmailEvent;

  metadata?: EnrichWebhookEvent.Metadata;

  /**
   * Unique identifier of workflow that this event is associated with.
   */
  workflowID?: string;

  /**
   * Name of workflow that this event is associated with.
   */
  workflowName?: string;

  /**
   * Version number of workflow that this event is associated with.
   */
  workflowVersionNum?: number;
}

export namespace EnrichWebhookEvent {
  export interface Metadata {
    durationFunctionToEventSeconds?: number;
  }
}

/**
 * Emitted by `payload_shaping` functions, which restructure JSON payloads using
 * JMESPath expressions configured on the function. The shaped result is carried in
 * `transformedContent`.
 */
export interface PayloadShapingWebhookEvent {
  /**
   * Unique ID generated by bem to identify the event.
   */
  eventID: string;

  /**
   * Unique identifier of function that this event is associated with.
   */
  functionID: string;

  /**
   * Unique name of function that this event is associated with.
   */
  functionName: string;

  /**
   * The unique ID you use internally to refer to this data point, propagated from
   * the original function input.
   */
  referenceID: string;

  /**
   * The reshaped payload produced by applying the function's JMESPath expressions to
   * the input data.
   */
  transformedContent: unknown;

  /**
   * Unique identifier of workflow call that this event is associated with.
   */
  callID?: string;

  /**
   * Timestamp indicating when the event was created.
   */
  createdAt?: string;

  eventType?: 'payload_shaping';

  /**
   * Unique identifier of function call that this event is associated with.
   */
  functionCallID?: string;

  /**
   * The attempt number of the function call that created this event. 1 indexed.
   */
  functionCallTryNumber?: number;

  /**
   * Version number of function that this event is associated with.
   */
  functionVersionNum?: number;

  /**
   * The inbound email that triggered this event.
   */
  inboundEmail?: ErrorsAPI.InboundEmailEvent;

  metadata?: PayloadShapingWebhookEvent.Metadata;

  /**
   * Unique identifier of workflow that this event is associated with.
   */
  workflowID?: string;

  /**
   * Name of workflow that this event is associated with.
   */
  workflowName?: string;

  /**
   * Version number of workflow that this event is associated with.
   */
  workflowVersionNum?: number;
}

export namespace PayloadShapingWebhookEvent {
  export interface Metadata {
    durationFunctionToEventSeconds?: number;
  }
}

export interface SendWebhookEvent {
  /**
   * Outcome of a Send function's delivery attempt.
   */
  deliveryStatus: 'success' | 'skip';

  /**
   * Destination type for a Send function.
   */
  destinationType: FunctionsAPI.SendDestinationType;

  /**
   * Unique ID generated by bem to identify the event.
   */
  eventID: string;

  /**
   * Unique identifier of function that this event is associated with.
   */
  functionID: string;

  /**
   * Unique name of function that this event is associated with.
   */
  functionName: string;

  /**
   * The unique ID you use internally to refer to this data point, propagated from
   * the original function input.
   */
  referenceID: string;

  /**
   * Unique identifier of workflow call that this event is associated with.
   */
  callID?: string;

  /**
   * Timestamp indicating when the event was created.
   */
  createdAt?: string;

  /**
   * The full protocol event JSON that was delivered — identical to what subscription
   * publish would deliver for the same event. For ad-hoc calls with a JSON file
   * input, contains the raw input JSON. For ad-hoc calls with a binary file input,
   * contains {"s3URL": "<presigned-url>"}.
   */
  deliveredContent?: unknown;

  eventType?: 'send';

  /**
   * Unique identifier of function call that this event is associated with.
   */
  functionCallID?: string;

  /**
   * The attempt number of the function call that created this event. 1 indexed.
   */
  functionCallTryNumber?: number;

  /**
   * Version number of function that this event is associated with.
   */
  functionVersionNum?: number;

  /**
   * Metadata returned when a Send function delivers to Google Drive.
   */
  googleDriveOutput?: SendWebhookEvent.GoogleDriveOutput;

  /**
   * The inbound email that triggered this event.
   */
  inboundEmail?: ErrorsAPI.InboundEmailEvent;

  metadata?: SendWebhookEvent.Metadata;

  /**
   * Metadata returned when a Send function delivers to an S3 bucket.
   */
  s3Output?: SendWebhookEvent.S3Output;

  /**
   * Metadata returned when a Send function delivers to a webhook.
   */
  webhookOutput?: SendWebhookEvent.WebhookOutput;

  /**
   * Unique identifier of workflow that this event is associated with.
   */
  workflowID?: string;

  /**
   * Name of workflow that this event is associated with.
   */
  workflowName?: string;

  /**
   * Version number of workflow that this event is associated with.
   */
  workflowVersionNum?: number;
}

export namespace SendWebhookEvent {
  /**
   * Metadata returned when a Send function delivers to Google Drive.
   */
  export interface GoogleDriveOutput {
    /**
     * Name of the file created in Google Drive.
     */
    fileName: string;

    /**
     * ID of the Google Drive folder the file was placed in.
     */
    folderID: string;
  }

  export interface Metadata {
    durationFunctionToEventSeconds?: number;
  }

  /**
   * Metadata returned when a Send function delivers to an S3 bucket.
   */
  export interface S3Output {
    /**
     * Name of the S3 bucket the payload was written to.
     */
    bucketName: string;

    /**
     * Object key under which the payload was stored.
     */
    key: string;
  }

  /**
   * Metadata returned when a Send function delivers to a webhook.
   */
  export interface WebhookOutput {
    /**
     * Raw HTTP response body returned by the webhook endpoint.
     */
    httpResponseBody: string;

    /**
     * HTTP status code returned by the webhook endpoint.
     */
    httpStatusCode: number;
  }
}

/**
 * Emitted when a function-accuracy evaluation completes for a transformation.
 * Evaluations are scheduled by `POST /v3/eval` and run asynchronously; this event
 * reports the terminal result.
 */
export interface EvaluationWebhookEvent {
  /**
   * Version identifier of the evaluation logic that produced this result.
   */
  evaluationVersion: string;

  /**
   * Unique ID generated by bem to identify the event.
   */
  eventID: string;

  /**
   * Unique identifier of function that this event is associated with.
   */
  functionID: string;

  /**
   * Unique name of function that this event is associated with.
   */
  functionName: string;

  /**
   * The unique ID you use internally to refer to this data point, propagated from
   * the original function input.
   */
  referenceID: string;

  /**
   * Evaluator output. Shape depends on `evaluationVersion` and includes confidence
   * scores, per-field hallucination flags, and relevance metrics.
   */
  result: unknown;

  /**
   * Terminal status of the evaluation run.
   */
  status: 'success' | 'failed';

  /**
   * Unique ID of the transformation that was evaluated.
   */
  transformId: string;

  /**
   * Unique identifier of workflow call that this event is associated with.
   */
  callID?: string;

  /**
   * Timestamp indicating when the event was created.
   */
  createdAt?: string;

  /**
   * Failure reason populated when `status` is `failed`.
   */
  errorMessage?: string;

  eventType?: 'evaluation';

  /**
   * Unique identifier of function call that this event is associated with.
   */
  functionCallID?: string;

  /**
   * The attempt number of the function call that created this event. 1 indexed.
   */
  functionCallTryNumber?: number;

  /**
   * Version number of function that this event is associated with.
   */
  functionVersionNum?: number;

  /**
   * The inbound email that triggered this event.
   */
  inboundEmail?: ErrorsAPI.InboundEmailEvent;

  metadata?: EvaluationWebhookEvent.Metadata;

  /**
   * Unique identifier of workflow that this event is associated with.
   */
  workflowID?: string;

  /**
   * Name of workflow that this event is associated with.
   */
  workflowName?: string;

  /**
   * Version number of workflow that this event is associated with.
   */
  workflowVersionNum?: number;
}

export namespace EvaluationWebhookEvent {
  export interface Metadata {
    durationFunctionToEventSeconds?: number;
  }
}

export interface CollectionProcessingWebhookEvent {
  /**
   * Unique identifier of the collection.
   */
  collectionID: string;

  /**
   * Name/path of the collection.
   */
  collectionName: string;

  /**
   * Unique ID generated by bem to identify the event.
   */
  eventID: string;

  /**
   * The operation performed (add or update).
   */
  operation: 'add' | 'update';

  /**
   * Number of items successfully processed.
   */
  processedCount: number;

  /**
   * The unique ID you use internally to refer to this data point, propagated from
   * the original function input.
   */
  referenceID: string;

  /**
   * Processing status (success or failed).
   */
  status: 'success' | 'failed';

  /**
   * Array of collection item KSUIDs that were added or updated.
   */
  collectionItemIDs?: Array<string>;

  /**
   * Timestamp indicating when the event was created.
   */
  createdAt?: string;

  /**
   * Error message if processing failed.
   */
  errorMessage?: string;

  eventType?: 'collection_processing';

  /**
   * The attempt number of the function call that created this event. 1 indexed.
   */
  functionCallTryNumber?: number;

  /**
   * The inbound email that triggered this event.
   */
  inboundEmail?: ErrorsAPI.InboundEmailEvent;

  metadata?: CollectionProcessingWebhookEvent.Metadata;
}

export namespace CollectionProcessingWebhookEvent {
  export interface Metadata {
    durationFunctionToEventSeconds?: number;
  }
}

/**
 * V3 event variants that do not exist in the shared `Event` union.
 *
 * `ExtractEvent` and `ClassifyEvent` are emitted only by V3-era function types
 * (`extract` and `classify`). The shared `Event` union in
 * `specs/events/models.tsp` predates these types and continues to describe V2 /
 * V1-alpha responses verbatim; V3 response payloads add the new variants via the
 * `EventV3` union below while keeping every shared variant intact for backward
 * compatibility.
 */
export type UnwrapWebhookEvent =
  | ExtractWebhookEvent
  | ClassifyWebhookEvent
  | ParseWebhookEvent
  | SplitCollectionWebhookEvent
  | SplitItemWebhookEvent
  | JoinWebhookEvent
  | EnrichWebhookEvent
  | PayloadShapingWebhookEvent
  | SendWebhookEvent
  | EvaluationWebhookEvent
  | CollectionProcessingWebhookEvent
  | ErrorsAPI.ErrorEvent;

export declare namespace Webhooks {
  export {
    type ExtractWebhookEvent as ExtractWebhookEvent,
    type ClassifyWebhookEvent as ClassifyWebhookEvent,
    type ParseWebhookEvent as ParseWebhookEvent,
    type SplitCollectionWebhookEvent as SplitCollectionWebhookEvent,
    type SplitItemWebhookEvent as SplitItemWebhookEvent,
    type JoinWebhookEvent as JoinWebhookEvent,
    type EnrichWebhookEvent as EnrichWebhookEvent,
    type PayloadShapingWebhookEvent as PayloadShapingWebhookEvent,
    type SendWebhookEvent as SendWebhookEvent,
    type EvaluationWebhookEvent as EvaluationWebhookEvent,
    type CollectionProcessingWebhookEvent as CollectionProcessingWebhookEvent,
    type UnwrapWebhookEvent as UnwrapWebhookEvent,
  };
}
